@font-face {
   font-family: PlayGame;
   src: url('./Square_Meal_RUS_by_Slavchansky.ttf');
}

:root {
   --rotation-time: 0.25s;
}

body {
   margin: 0;
   padding: 0;
   height: 100vh;
   background-color: #0fbe2c;

   display: flex;

   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.startText {
   width: 100vw;
   height: 460px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: PlayGame;
   color: white;
   background-color: #0fbe2c;
}
.Pari {
   text-align: center;
   color: White;
   font-size: 50px;
   font-family: PlayGame;
   width: 400px;
   margin-bottom: 20px;
}
.secondLine {
   text-align: center;

   font-family: PlayGame;
   color: white;
   width: 400px;
   margin-bottom: 20px;
}
.startButton {
   border: 1px solid white;
   color: white;
   background-color: rgba(255, 255, 255, 0);
   padding: 10px;
}
.startButton:hover {
   border: 1px solid #00ffeadd;
   color: #00ffea;
}
.chooseLevel {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.chooseLevelText {
   color: white;
   font-size: 30px;
   font-family: PlayGame;
   margin-bottom: 10px;
}

.chooseLevel button {
   border: 1px solid white;
   color: white;
   background-color: rgba(255, 255, 255, 0);
   padding: 10px;
   margin-left: 5px;
}
.chooseLevel button:hover {
   border: 1px solid #00ffeadd;
   color: #00ffea;
}

.before__game {
   width: 800px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   bottom: -200px;
}
.active__choose__level {
   transform: translateY(-650px);
   transition: all 0.4s ease-in;
}
.active__cards {
   transform: translateY(-650px);
   transition: all 0.4s ease-in;
}
.game {
   width: 1000px;
   height: 100vh;
   display: flex;
   flex-direction: column;

   align-items: center;
   position: absolute;
}

.cards__active1 {
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 100vh;
   bottom: -700px;
   display: flex;
   flex-wrap: wrap;

   justify-content: center;
}
.card {
   width: 150px;
   height: 250px;
   margin: 5px;
   transition: transform 1s;
   transform-style: preserve-3d;
   position: absolute;
}
.cards__active2 {
   z-index: 1;
   position: absolute;
   width: 170%;
   height: 100vh;
   bottom: -700px;
   display: flex;
   flex-wrap: wrap;

   justify-content: center;
}
.cards__active3 {
   z-index: 1;
   position: absolute;
   width: 100vw;
   height: 100vh;
   bottom: -680px;
   display: flex;
   flex-wrap: wrap;

   justify-content: center;
}

.figure {
   padding: 0;
   margin: 0;
   perspective: 800px;
}
.card-face,
.card-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: transform var(--rotation-time) ease;
   border: 3px solid black;
   border-radius: 10px;
}

.card-face {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12rem;
   font-weight: 900;
   color: red;
   background: white;
   transform: rotateY(90deg);
   transition-delay: 0s;
}

.card-back {
   transform: rotateY(0deg);
   transition-delay: var(--rotation-time);
}

.imgandfgc.rotated .card-back {
   transform: rotateY(90deg);
   transition-delay: 0s;
}
.imgandfgc.rotated .card-face {
   transform: rotateY(0deg);
   transition-delay: var(--rotation-time);
}

.imgandfgc {
   position: relative;
   width: 180px;
   height: 250px;

   margin: 5px;
}
.win__game {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: PlayGame;
   color: white;
   background-color: #0fbe2c;
   z-index: 2;
   transform: translateY(0px);
   transition: transform 0.4s ease-in;
   position: absolute;
   bottom: -100vh;
}
.points {
   font-size: 50px;
}
.WinGame {
   font-size: 50px;
}
.Up__win__game {
   transform: translateY(-950px);
   transition: all 0.4s ease-in;
}
